/*------------------------------VARIABLES & MIXIN------------------------------*/
/*------------------------------RESET------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------CSS ANIMATIONS------------------------------*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}
/*------------------------------GLOBAL STYLE------------------------------*/
html {
  height: 100%;
}

body {
  width: 100vw;
  height: 94vh;
  background-color: #0E0B16;
  color: #F9F7F4;
  transition: margin-left .3s;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  margin: 13px;
  padding: 10px 15px 10px 15px;
  height: 98.5%;
  border: 2px solid #F9F7F4;
}

header {
  padding-left: 30px;
  position: sticky;
}

main {
  width: auto;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 40px;
  align-items: flex-end;
}

h1, h2, h3, h4, a {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 50px;
  text-transform: uppercase;
  color: #F9F7F4;
}

h1 {
  margin-top: 30px;
}

h2 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  text-transform: none;
}

h3 {
  margin: 5px 0 5px 0;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  text-transform: none;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
  border-bottom: 2px solid #F9F7F4;
}

p {
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: none;
  color: #F9F7F4;
}

/*------------------------------SIDENAV------------------------------*/
/* links in menu
cross closing button
icons */
.menu {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F9F7F4;
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.5s;
  cursor: pointer;
  /*-----------------------icons-----------------------*/
}
.menu a {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  padding: 40px 8px 8px 40px;
  text-decoration: none;
  color: #0E0B16;
  display: inline-block;
  transition: 0.3s;
}
.menu a:hover {
  -webkit-animation: pulsate 0.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  color: #003AFA;
}
.menu #icons {
  width: 50%;
  height: 0%;
  margin-left: 80px;
}
.menu #icons a {
  padding: 0;
  padding-top: 13	0px;
}
.menu #icons a .svg-inline--fa {
  vertical-align: 0.5em;
  color: #003AFA;
  padding-left: 10px;
}
.menu #icons a .svg-inline--fa:hover {
  opacity: 1;
}
.menu .closebtn {
  /*cross closing button*/
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

/*burger-menu*/
span {
  cursor: pointer;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  align-content: start;
  color: #F9F7F4;
  margin: 0;
  padding: 0;
}

/*------------------------------HOMEPAGE------------------------------*/
/*header name*/
#name {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  align-self: center;
  letter-spacing: normal;
  line-height: 60px;
  text-transform: uppercase;
  color: #F9F7F4;
}

/*typed paragraph*/
#typeJunior {
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  letter-spacing: normal;
  line-height: 30px;
  text-transform: none;
  color: #F9F7F4;
}

/*animation typeWriter*/
#typeWriter p {
  overflow: hidden;
  /*div hidden until beggining of animation*/
  white-space: nowrap;
  /*keep sentence on single line until <br>*/
  margin: 0 auto;
  /*scrolling effect*/
  letter-spacing: 6px;
  animation: typing 5s steps(50, end), blink-caret 1.5s step-end infinite;
}

/*--------------------------ABOUT/MAKING-OF/CONCLUSION----------------------------------*/
#aboutme, #making-of, #conclusion {
  margin-top: 200px;
  margin-left: 500px;
  width: 500px;
  height: 455px;
  text-align: justify;
}
#aboutme p, #making-of p, #conclusion p {
  font-size: 25px;
  line-height: 30px;
}
#aboutme a, #making-of a, #conclusion a {
  text-decoration: none;
  color: #003AFA;
  font-size: 20px;
  text-shadow: 2px 2px 4px #0E0B16;
}

/*------------------------------INTERVIEW------------------------------*/
header a {
  text-decoration: none;
}
header a:visited {
  opacity: .5;
}
header .dupond {
  padding-left: 5px;
  letter-spacing: 5px;
  color: #003AFA;
}
header .dupond:hover {
  color: #F9F7F4;
  opacity: .5;
}
header #dogstudio_link {
  text-decoration: none;
  color: #003AFA;
  font-size: 14px;
  font-weight: bold;
}
header #dogstudio_link:hover {
  color: #F9F7F4;
  opacity: .5;
}

#line {
  margin: 12px;
  padding: 0;
  width: 60px;
  height: 1px;
  margin-left: 0px;
  background-color: #F9F7F4;
  opacity: .3;
  content: "";
  display: block;
}

#interview {
  width: 96%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /*questions tabs*/
  /*questions accordion panels*/
  /*response panel*/
}
#interview::-webkit-scrollbar {
  background-color: #0E0B16;
  width: 4px;
}
#interview::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #0E0B16;
}
#interview::-webkit-scrollbar-thumb {
  background: #003AFA;
  border-radius: 10px;
}
#interview .container-tab {
  display: flex;
  justify-content: center;
  padding-left: 100px;
}
#interview .container-tab .title-tab {
  width: 40%;
  margin-top: 80px;
}
#interview .container-tab .question-tab {
  width: 60%;
  margin-top: 80px;
}
#interview .accordion {
  margin: 0px;
  padding: 5px;
  background-color: #0E0B16;
  color: #F9F7F4;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}
#interview .accordion:after {
  content: '\002B';
  color: #F9F7F4;
  float: left;
  margin-left: 5px;
  margin-right: 20px;
}
#interview .accordion.active:after {
  content: "\2212";
}
#interview .accordion .question {
  font-size: 16px;
}
#interview .accordion .question:hover {
  opacity: .5;
}
#interview .panel {
  margin: 0;
  padding: 5px;
  max-height: 0;
  width: 70%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#interview .panel p {
  margin: 25px 20px 25px 20px;
}
#interview .panel ul {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
