body {
  width: 90%;
  height: 100%;
  background-color: #0E0B16;
  margin: 15px;
  padding: 10px 15px 10px 15px;
  height: 730px;
  border: 2px solid #F9F7F4;
  color: #F9F7F4;
}

/*sidenav*/
/*links in menu*/
/*cross closing button*/
.menu {
  width: 0px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F9F7F4;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  cursor: pointer;
}
.menu a {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  padding: 40px 8px 8px 40px;
  text-decoration: none;
  color: #0E0B16;
  display: block;
  transition: 0.3s;
}
.menu a:hover {
  -webkit-animation: pulsate 0.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  color: #4717F6;
}
.menu .closebtn {
  /*cross closing button*/
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}
/*-------------------------*/
/*burger-menu*/
span {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  align-content: start;
  color: #F9F7F4;
  margin: 0px;
  padding: 0px;
}

/*---------------------------*/
#main {
  width: auto;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-left .3s;
  padding: 20px;
}

/*--------homepage----------*/
/*header name*/
#name {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  align-self: center;
  letter-spacing: normal;
  line-height: 60px;
  text-transform: uppercase;
  color: #F9F7F4;
}

/*typed paragraph*/
#typeJunior {
  text-align: center;
  letter-spacing: normal;
  line-height: 30px;
  text-transform: none;
  color: #F9F7F4;
}
#typeJunior font {
  family: "Oxygen", sans-serif;
  size: 15px;
  style: normal;
  weight: normal;
}

/*animation typeWriter*/
.typeWriter p {
  overflow: hidden;
  /*div hidden until beggining of animation*/
  white-space: nowrap;
  /*keep sentence on single line until <br>*/
  margin: 0 auto;
  /*scrolling effect*/
  letter-spacing: 6px;
  animation: typing 1s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*-----------interview---------------*/
/*questions accordion panels*/
.accordion {
  margin: 0px;
  padding: 18px;
  background-color: #F9F7F4;
  color: #0E0B16;
  width: 50%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}
.accordion:hover {
  -webkit-animation: pulsate 0.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  color: #4717F6;
}
.accordion:after {
  content: '\002B';
  color: #F9F7F4;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.accordion.active:after {
  content: "\2212";
}

/*# sourceMappingURL=style.css.map */
