body {
  margin: 15px;
  padding: 15px;
  height: 735px;
  background-color: #0E0B16;
  border: 3px solid #E7DFDD;
}

main {
  transition: margin-left .3s;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  color:  #E7DFDD;
}

/*title*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid white;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 60px;
  text-transform: uppercase;
  color: #E7DFDD;
}

p {
  font-family: Oxygen, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-transform: none;
  color: #E7DFDD;
}

/*side menu*/
.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E7DFDD;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* links in menu*/
.menu a {
  padding: 40px 8px 8px 40px;
  text-decoration: none;
  font-size: 20px;
  color: #0E0B16;
  display: block;
  transition: 0.3s;
}

/*flashing word in the menu when hover with mouse*/
.menu a:hover {
    -webkit-animation: pulsate 0.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
    color: #4717F6;
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.5;}
    50% {opacity: 1.0}
    100% {opacity: 0.5;}
}

/*cross closing button*/
.menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

/*burgermenu*/
.burgermenu {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: 35px;
border: 1px solid white;
}

/*if height is less than 450px change style of the menu*/
@media screen and (max-height:450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
}

/*main content*/
section {
  display: flex;
  height: 800px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
